@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: var(--progress-width);
  }
}

.animate-progress {
  animation: progress 1s ease-out forwards;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-text {
  animation: scroll-text 20s linear infinite;
} 